@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

@keyframes drawLine {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animate-draw-line {
  animation: drawLine 0.8s ease-out forwards;
}




